# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Virtualenv / Pipenv
venv/
backend/.env
.env.*
backend/Pipfile.lock

# IDEs
.idea/

# OS files
.DS_Store

# Log files
*.log

# Any other secrets
*.pem
*.key
